* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  position: absolute;
  height: 100%;
  width: 100%;
}

button {
  border: none;
  background: none;
  outline: none;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  padding: 0 5px;
  height: 40px;
}
#title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}
#toc {
  display: block;
  width: 100%;
  font-size: 16px;
  height: 30px;
  margin: 5px 0;
}

/* View */
.view-container {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: white;
  padding: 15px 30px 40px;
}
.view-holder {
  position: relative;
  height: 100%;
  width: 100%;
}
#viewer {
  height: 100%;
}
#viewer iframe  {
  border: 1px solid red;
}

/* Left/right navigation */
.arrow {
  position: fixed;
  top: 50%;
  margin-top: -32px;
  font-size: 40px;
  color: #E2E2E2;
  font-family: arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
}
.arrow:hover, .navlink:hover {
  color: #777;
}

.arrow:active, .navlink:hover {
  color: #000;
}
#prev {
  left: 5px;
}
#next {
  right: 5px;
}
